html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
body {
  line-height: 1.75;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.5em;
}
h1,
h2,
h3 {
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 1em;
}
p {
  margin-bottom: 0.5em;
}
.content {
  padding-left: 2em;
  padding-right: 2em;
}
