<nav class='nav'>
    <a class='nav__logo' href='{{ site.baseurl }}/'>Daniel Singer</a>
    <ul class='nav__links'>
        <li><a href='#about'>About</a></li>
        <li><a href='#expertise'>Expertise</a></li>
        <li><a href='#work'>Work</a></li>
        <li><a href='#contact'>Contact</a></li>
    </ul>
    <span class='nav__menu-button js-nav-menu-btn'>menu</span>
</nav>
<nav class='mobile-nav'>
    <ul class='js-mobile-nav-list'>
        <li><a href='#about'>About</a></li>
        <li><a href='#what-i-do'>What I Do</a></li>
        <li><a href='#expertise'>Expertise</a></li>
        <li><a href='#work'>Work</a></li>
        <li><a href='#contact'>Contact</a></li>
    </ul>
</nav>
