<nav class='nav-header nav-header--desktop js-nav-desktop'>
    <span class='nav-header__logo'>
        {% include logo-nav.html %}
    </span>
    <div class='nav-header__bg'></div>
    <ul class='nav-header__links'>
        <li><a href='#about'>About</a></li>
        <li><a href='#expertise'>Expertise</a></li>
        <li><a href='#work'>Work</a></li>
        <li><a href='#contact'>Contact</a></li>
    </ul>
</nav>
<nav class='nav-header nav-header--mobile'>
    <span class='nav-header__logo'>
        {% include logo-nav.html %}
    </span>
    <span class='nav-header__menu-button js-nav-menu-btn'>menu</span>
</nav>
<nav class='mobile-nav'>
    <ul class='js-mobile-nav-list'>
        <li><a href='#about'>About</a></li>
        <li><a href='#what-i-do'>What I Do</a></li>
        <li><a href='#expertise'>Expertise</a></li>
        <li><a href='#work'>Work</a></li>
        <li><a href='#contact'>Contact</a></li>
    </ul>
</nav>
