// base
body {
    font-size: ($base-font-size / 16) * 100%;
    font-family: $font-system;
}

a,
a:hover {
    text-decoration: none;
}
a {
    color: darken(desaturate($color-fire, 30%),10%);
    &:hover,
    &:focus {
        color: $color-fire;
    }
}

.container {
    max-width: "calc(800px + %s)" % ($leading * 4); ;
    margin-left: auto;
    margin-right: auto;
}
