// typography, powered by typebase.css
h1 {
    font-size: 3 * $font-scale * 1rem;
    line-height: 1;
    font-family: $font-work-sans;
    text-transform: uppercase;
}
h2 {
    font-size: 2 * $font-scale * 1rem;
    line-height: 2 * $leading;
    margin-top: 2 * $leading;
    color: $color-ice-fade;
}
h3 {
    font-size: 1 * $font-scale * 1rem;
    margin-top:  $leading;
    line-height:  $leading;
    color: $color-ice-fade;
}
p {
    margin-top: $leading;
    line-height: $leading;
}
ul,
ol {
    margin-top: $leading;
    margin-bottom: $leading;
    li {
        line-height: $leading;
    }
}
h1, h2, h3, p, li {
    a {
        border-bottom: 2px solid currentColor;
        font-weight: bold;
    }
}
