// variables
$bp-large   = 640px // mobile to "normal" breakpoint
$bp-xlarge  = 940px // larger width

$color-ice  = #0073ff
$color-ice-light = mix($color-ice, white, 10%);
$color-ice-shadow = desaturate($color-ice, 50%);
$color-fire = #ffc800
