// variables
$bp-large   = 640px // mobile to "normal" breakpoint
$bp-xlarge  = 940px // larger width

$base-font-size     = 15
$base-line-height   = 1.5
$leading            = $base-line-height * 1rem
$font-scale         = 1.414

$font-system = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-work-sans = 'Work Sans', $font-system;

$color-ice  = #0073ff
$color-ice-light = mix($color-ice, white, 10%)
$color-ice-shadow = desaturate($color-ice, 50%)
$color-ice-fade =  desaturate($color-ice, 50%)
$color-fire = #ffc800
$color-fire-light = mix($color-fire, white, 10%)
$color-fire-shadow = desaturate($color-fire, 50%)

$link-color = darken(desaturate($color-fire, 30%),10%)
$link-color-hover = $color-fire
