<!doctype html>
<head>
    <title>Daniel Singer</title>
    <meta name="description" content="Chilblane Industries is the personal website of Daniel Singer.">
    <link rel="canonical" href="http://www.chilblane.com/">
    {{>ga-head}}
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='styles.css'>
</head>
<body>
    <div class='hero container'>
        <h1>Daniel Singer</h1>
        <p>Designer &amp; Marketer</p>
    </div>
    <main class='container'>
        <div class='content grid'>
            <div class='column left'>
                <h2>Intro</h2>
            </div>
            <div class='column right'>
                <p>Hello! I'm <strong>Daniel Singer</strong>, a <em>web designer</em>, <em>front-end developer</em>, and <em>product marketer</em> based in <strong>Tempe, Arizona</strong>. In my work, I'm passionate about consistency, scalability, and performance. <em>I believe your website is your brand</em>, and even the smallest details are important.</p>
            </div>
            <div class='column left'>
                <h2>Current status</h2>
            </div>
            <div class='column right'>
                <p>I currently work in the marketing team at <strong>Axosoft</strong>, in Scottsdale, AZ. I focus on maintaining their product websites, including design, coding, messaging, project management, and analytics. I also work with graphic and print design, branding, social media, and more, to meet company needs.</p>
            </div>
            <div class='column left'>
                <h2>Production</h2>
            </div>
            <div class='column right'>
                <h3><a href='https://www.axosoft.com/' target='_blank'>Axosoft.com</a></h3>
                <p>Product site for Axosoft, online agile project management software</p>
                <h3><a href='http://www.gitkraken.com/' target='_blank'>GitKraken.com</a></h3>
                <p>Product site for GitKraken, upcoming Git GUI client</p>
            </div>
            <div class='column left'>
                <h2>More</h2>
            </div>
            <div class='column right'>
                <p><a href='mailto:daniel@chilblane.com'><strong>Email</strong></a> &mdash; Contact me</p>
                <p><a href='https://www.linkedin.com/in/chilblane' target='_blank'><strong>LinkedIn</strong></a> &mdash; Connect with me</p>
                <p><a href='https://www.github.com/chilblane' target='_blank'><strong>GitHub</strong></a> &mdash; View my public projects</p>
                <p><a href='https://www.twitter.com/chilblane' target='_blank'><strong>Twitter</strong></a> &mdash; Read my random blatherings</p>
            </div>
        </div>
    </main>
    <footer class='site-footer container'>
        <p>&copy; 2016 Chilblane Industries</p>
    </footer>
</body>
</html>
