<!doctype html>
<head>
    <title>Daniel Singer</title>
    <meta name="description" content="Chilblane Industries is the personal website of Daniel Singer.">
    <link rel="canonical" href="http://www.chilblane.com/">
    {{>ga-head}}
    <link rel='stylesheet' href='styles.css'>
</head>
<body>
    <div class='content'>
        <h1 class='center'>Daniel Singer</h1>
        <ul class='horizontal roles center'>
            <li>Web design</li>
            <li>Front-end web development</li>
            <li>Product marketing</li>
        </ul>
        <p class='center'>Daniel is a web designer and developer at Axosoft, in Scottsdale, Arizona, as a member of their marketing team.</p>
        <p class='center'>He focuses on maintaining their product websites, including design, coding, messaging, project management, and analytics. He also assists with graphic and print design, branding, social media, and more.</p>
        <h2 class='center'>Current projects</h2>
        <h3 class='center'><a href='https://www.axosoft.com/' target='_blank'>Axosoft.com</a></h3>
        <p class='center'>Product site for Axosoft, online agile project management software</p>
        <h3 class='center'><a href='http://www.gitkraken.com/' target='_blank'>GitKraken.com</a></h3>
        <p class='center'>Product site for GitKraken, upcoming Git GUI client</p>
        <ul class='horizontal center'>
            <li><a href='https://www.twitter.com/chilblane' target='_blank'>Twitter</a></li>
            <li><a href='https://www.github.com/chilblane' target='_blank'>GitHub</a></li>
            <li><a href='https://www.linkedin.com/in/chilblane' target='_blank'>LinkedIn</a></li>
            <li><a href='mailto:daniel@chilblane.com'>Email</a></li>
        </ul>
    </div>
</body>
</html>
