html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
li {
  display: list-item;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
body {
  font-size: 15px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #0073ff;
}
a:hover,
a:focus {
  color: #0050b3;
}
.container {
  padding-left: 2em;
  padding-right: 2em;
}
@media only screen and (min-width: 640px) {
  .container {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
  }
}
@media only screen and (min-width: 940px) {
  .container {
    padding-left: calc(50% - 450px);
    padding-right: calc(50% - 450px);
  }
}
h1 {
  font-size: 3.375em;
  line-height: 1.25;
}
h2 {
  font-size: 1.5em;
  line-height: 1.25;
  text-transform: uppercase;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
h3 {
  margin-bottom: 1em;
}
h3:not(:first-child) {
  margin-top: 1em;
}
p {
  margin-bottom: 0.5em;
}
h1 a,
h2 a,
h3 a,
p a,
li a {
  border-bottom: 2px solid currentColor;
}
html.index,
html.index body {
  height: 100%;
}
.index-content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #e5f1ff;
  background-image: -webkit-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: -moz-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: -o-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: -ms-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: radial-gradient(#e5f1ff 0%, #4079bf 200%);
}
.index-name {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.index-name__tile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: rgba(229,241,255,0.7);
  background-color: rgba(64,121,191,0.2);
  border-radius: 5%;
  border: 0;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -ms-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-box-shadow: inset 0 2px 7px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 7px rgba(0,0,0,0.1);
  text-shadow: 0 2px 7px rgba(0,0,0,0.1);
}
.index-name__tile:hover,
.index-name__tile:focus {
  color: #ffc800;
  background-color: #997800;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -o-transition-duration: 3s;
  -ms-transition-duration: 3s;
  transition-duration: 3s;
}
@media only screen and (orientation: portrait) {
  .index-name {
    width: 72vw;
    height: 96vw;
  }
  .index-name__tile {
    height: 20vw;
    min-width: 20vw;
    font-size: 20vw;
  }
}
@media only screen and (orientation: landscape) {
  .index-name {
    max-width: 100.5vh;
    height: 34.5vh;
  }
  .index-name__tile {
    height: 15vh;
    min-width: 15vh;
    font-size: 15vh;
  }
}
.ice-sheet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/pattern-ice.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
}
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
