html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
li {
  display: list-item;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
body {
  font-size: 93.75%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #c3a022;
}
a:hover,
a:focus {
  color: #ffc800;
}
.container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 4.242rem;
  line-height: 1;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
  color: #4079bf;
}
h3 {
  font-size: 1.414rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
}
p {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
h1 a,
h2 a,
h3 a,
p a,
li a {
  border-bottom: 2px solid currentColor;
  font-weight: bold;
}
.page {
  background-color: #00224d;
  position: relative;
}
.page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/pattern-ice.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.page .hero {
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.page main {
  position: relative;
  background-color: #fff;
  padding: 2em;
  -webkit-box-shadow: 0 2px 2px #000;
  box-shadow: 0 2px 2px #000;
}
main.about .lead {
  text-align: center;
  margin-top: 0;
  font-size: 1.414rem;
  color: rgba(64,121,191,0.5);
}
main.about .lead strong {
  color: #4079bf;
}
footer p {
  color: #fff;
  text-align: center;
  font-size: 0.471333333333333rem;
  margin-top: 0;
}
html.index,
html.index body {
  height: 100%;
}
.index-content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #e5f1ff;
  background-image: -webkit-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: -moz-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: -o-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: -ms-radial-gradient(#e5f1ff 0%, #4079bf 200%);
  background-image: radial-gradient(#e5f1ff 0%, #4079bf 200%);
}
.index-content p {
  margin-top: 2em;
  padding: 0.5em 1em;
  border-radius: 3px;
  color: rgba(64,121,191,0.9);
  background-color: rgba(64,121,191,0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0 1px 1px rgba(229,241,255,0.9);
  font-weight: 400;
  text-transform: lowercase;
}
.index-name {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
  text-transform: uppercase;
  line-height: 1;
}
.index-name__tile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: rgba(229,241,255,0.95);
  background-image: -webkit-radial-gradient(transparent, rgba(64,121,191,0.3));
  background-image: -moz-radial-gradient(transparent, rgba(64,121,191,0.3));
  background-image: -o-radial-gradient(transparent, rgba(64,121,191,0.3));
  background-image: -ms-radial-gradient(transparent, rgba(64,121,191,0.3));
  background-image: radial-gradient(transparent, rgba(64,121,191,0.3));
  border-radius: 5%;
  border: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 1s, 1s;
  -moz-transition-duration: 1s, 1s;
  -o-transition-duration: 1s, 1s;
  -ms-transition-duration: 1s, 1s;
  transition-duration: 1s, 1s;
  -webkit-transition-delay: 0.5s, 0;
  -moz-transition-delay: 0.5s, 0;
  -o-transition-delay: 0.5s, 0;
  -ms-transition-delay: 0.5s, 0;
  transition-delay: 0.5s, 0;
}
.index-name__tile:hover,
.index-name__tile:focus {
  color: #fff;
  -webkit-transition-duration: 1s, 1.5s;
  -moz-transition-duration: 1s, 1.5s;
  -o-transition-duration: 1s, 1.5s;
  -ms-transition-duration: 1s, 1.5s;
  transition-duration: 1s, 1.5s;
  -webkit-transition-delay: 0, 0;
  -moz-transition-delay: 0, 0;
  -o-transition-delay: 0, 0;
  -ms-transition-delay: 0, 0;
  transition-delay: 0, 0;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #ffc800, 0 0 1em #ffc800, 0 0 3em #ffc800;
}
@media only screen and (orientation: portrait) {
  .index-name {
    width: 72vw;
    height: 96vw;
  }
  .index-name__tile {
    height: 20vw;
    min-width: 20vw;
    font-size: 20vw;
  }
}
@media only screen and (orientation: landscape) {
  .index-name {
    max-width: 100.5vh;
    height: 34.5vh;
  }
  .index-name__tile {
    height: 15vh;
    min-width: 15vh;
    font-size: 15vh;
  }
}
.ice-sheet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/pattern-ice.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
}
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
