html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
li {
  display: list-item;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
fieldset {
  padding: 0;
  border: 0;
}
html,
body {
  height: 100%;
  position: relative;
}
html {
  font-size: 93.75%;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #000b19;
  background-image: url("/assets/pattern-hex.svg");
  color: #e5f1ff;
}
@media only screen and (min-width: 50em) {
  html {
    font-size: 125%;
  }
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #3d90f5;
}
a:hover,
a:focus {
  color: #5aa1f7;
}
h1 {
  font-size: 4.242rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.2em;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
  font-weight: 300;
  letter-spacing: 0.2em;
}
h3 {
  font-size: 1.414rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  color: #9fbcdf;
  font-weight: 400;
}
h1,
h2,
h3 {
  text-shadow: 0 0 0.1em currentColor;
}
p {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}
p.small {
  font-size: 0.707rem;
}
ul,
ol {
  margin-top: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
h1 a,
h2 a,
h3 a,
p a,
li a {
  border-bottom: 1px solid currentColor;
}
h3,
p,
li {
  letter-spacing: 0.05em;
}
.panel {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 1.5rem 1.5rem 3rem;
}
.panel__content {
  width: 100%;
  max-width: 80em;
}
.panel h2 {
  margin-bottom: 2.25rem;
  display: inline-block;
  text-transform: lowercase;
}
.panel h2:after {
  content: '';
  display: block;
  margin-top: 0.75rem;
  width: 0%;
  height: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
}
.panel h2.in-view:after {
  width: 100%;
  background-color: #2c3e53;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: width, background-color, box-shadow;
  -moz-transition-property: width, background-color, box-shadow;
  -o-transition-property: width, background-color, box-shadow;
  -ms-transition-property: width, background-color, box-shadow;
  transition-property: width, background-color, box-shadow;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  -moz-transition-duration: 0.5s, 0.5s, 0.5s;
  -o-transition-duration: 0.5s, 0.5s, 0.5s;
  -ms-transition-duration: 0.5s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0.5s, 0.5s;
  -webkit-transition-delay: 0.7s, 1.2s, 1.2s;
  -moz-transition-delay: 0.7s, 1.2s, 1.2s;
  -o-transition-delay: 0.7s, 1.2s, 1.2s;
  -ms-transition-delay: 0.7s, 1.2s, 1.2s;
  transition-delay: 0.7s, 1.2s, 1.2s;
  -webkit-transition-timing-function: ease-in, ease, ease;
  -moz-transition-timing-function: ease-in, ease, ease;
  -o-transition-timing-function: ease-in, ease, ease;
  -ms-transition-timing-function: ease-in, ease, ease;
  transition-timing-function: ease-in, ease, ease;
}
.panel--45em .panel__content {
  max-width: 45em;
}
.panel--60em .panel__content {
  max-width: 60em;
}
.panel--hex {
  background-image: -webkit-radial-gradient(circle at top right, rgba(229,241,255,0.1), transparent);
  background-image: -moz-radial-gradient(circle at top right, rgba(229,241,255,0.1), transparent);
  background-image: -o-radial-gradient(circle at top right, rgba(229,241,255,0.1), transparent);
  background-image: -ms-radial-gradient(circle at top right, rgba(229,241,255,0.1), transparent);
  background-image: radial-gradient(circle at top right, rgba(229,241,255,0.1), transparent);
}
.panel--wave {
  background-color: #16212f;
  background-image: -webkit-linear-gradient(transparent 0px, transparent 2px, #000b19 3px), url("/assets/pattern-wave.svg");
  background-image: -moz-linear-gradient(transparent 0px, transparent 2px, #000b19 3px), url("/assets/pattern-wave.svg");
  background-image: -o-linear-gradient(transparent 0px, transparent 2px, #000b19 3px), url("/assets/pattern-wave.svg");
  background-image: -ms-linear-gradient(transparent 0px, transparent 2px, #000b19 3px), url("/assets/pattern-wave.svg");
  background-image: linear-gradient(transparent 0px, transparent 2px, #000b19 3px), url("/assets/pattern-wave.svg");
  -webkit-background-size: auto 3px, cover;
  -moz-background-size: auto 3px, cover;
  background-size: auto 3px, cover;
  background-position: center center, center center;
  border-top: 1px solid rgba(229,241,255,0.1);
  border-bottom: 1px solid #000;
}
.button,
button {
  display: inline-block;
  padding: 0.75em 1em;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  -webkit-transition-property: background-color, box-shadow;
  -moz-transition-property: background-color, box-shadow;
  -o-transition-property: background-color, box-shadow;
  -ms-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  -webkit-transition-timing-function: ease-out, ease;
  -moz-transition-timing-function: ease-out, ease;
  -o-transition-timing-function: ease-out, ease;
  -ms-transition-timing-function: ease-out, ease;
  transition-timing-function: ease-out, ease;
  -webkit-transition-duration: 0.2s, 0.2s;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -ms-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  border: 2px solid currentColor;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.24);
  box-shadow: 0 3px 3px rgba(0,0,0,0.24);
}
.button:active,
button:active {
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.24), inset 0 0.5em 0.5em rgba(0,0,0,0.1);
  box-shadow: 0 3px 3px rgba(0,0,0,0.24), inset 0 0.5em 0.5em rgba(0,0,0,0.1);
}
.button--small,
button--small {
  font-size: 0.707rem;
}
.button--link,
button--link {
  background-color: #3d90f5;
  color: #fff;
  border-color: #64a6f7;
}
.button--link:hover,
button--link:hover,
.button--link:focus,
button--link:focus {
  background-color: #5aa1f7;
  color: #fff;
}
.button--link:active,
button--link:active {
  background-color: #207ff3;
}
.button--primary,
button--primary {
  background-color: #b300a9;
  color: #fff;
  border-color: #ff1af3;
}
.button--primary:hover,
button--primary:hover,
.button--primary:focus,
button--primary:focus {
  background-color: #cc00c2;
  color: #fff;
}
.button--primary:active,
button--primary:active {
  background-color: #990091;
}
.form {
  width: 100%;
}
.form fieldset {
  max-width: calc(15em + 6rem);
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.form__control {
  margin-top: 1.5rem;
}
.form__footer {
  text-align: center;
  padding-bottom: 1.5rem;
}
label {
  display: block;
  margin-bottom: 0.375rem;
  text-transform: lowercase;
  color: #9fbcdf;
}
input[type='text'],
input[type='email'],
textarea {
  display: block;
  width: 100%;
  padding: 0.4em 0.75rem;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: inherit;
  background-color: rgba(229,241,255,0.1);
  color: #fff;
  border: 1px solid transparent;
}
input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: #9fbcdf;
}
.site-footer {
  text-align: center;
  width: 100%;
  padding: 0 1.5rem 1.5rem;
}
.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid__column {
  padding-right: 2em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 20em;
}
.hello {
  background-color: #000b19;
  background-image: url("/assets/daniel.gif");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center left;
  background-repeat: repeat-x;
  border-top: 1px solid rgba(229,241,255,0.1);
}
.hello h2.in-view:after {
  background-color: rgba(229,241,255,0.1);
}
.hero {
  position: relative;
  overflow: hidden;
  background-color: rgba(0,115,255,0.1);
  background-image: url("/assets/pattern-stars.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-shadow: 0 0 2px #000;
}
.hero .panel__content {
  position: relative;
  z-index: 5;
}
.hero p {
  text-transform: lowercase;
  color: #9fbcdf;
  letter-spacing: 0.4em;
}
.moon {
  position: absolute;
  width: 80vh;
  height: 80vh;
  top: 10%;
  right: -50vh;
  background-color: #000b19;
  border: 1px solid rgba(229,241,255,0.1);
  -webkit-box-shadow: 0 0 100em rgba(229,241,255,0.1), 0 0 10em #9fbcdf, 0 0 1em #9fbcdf, inset 0 0 10em rgba(159,188,223,0.25);
  box-shadow: 0 0 100em rgba(229,241,255,0.1), 0 0 10em #9fbcdf, 0 0 1em #9fbcdf, inset 0 0 10em rgba(159,188,223,0.25);
  border-radius: 50%;
}
.nav-header {
  position: fixed;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 4.5rem;
  left: 0;
  right: 0;
  z-index: 10;
}
.nav-header--mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.js-nav-open .nav-header--mobile {
  background-color: rgba(0,11,25,0.8);
}
.nav-header--desktop {
  display: none;
}
.nav-header__bg {
  position: absolute;
  top: 97%;
  left: 0;
  right: 100%;
  bottom: 0;
  border-bottom: 3px solid #fff;
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition-property: right, top, box-shadow, border-color, background-color, opacity;
  -moz-transition-property: right, top, box-shadow, border-color, background-color, opacity;
  -o-transition-property: right, top, box-shadow, border-color, background-color, opacity;
  -ms-transition-property: right, top, box-shadow, border-color, background-color, opacity;
  transition-property: right, top, box-shadow, border-color, background-color, opacity;
  -webkit-transition-duration: 0s, 0s, 0s, 0s, 0s, 0.7s;
  -moz-transition-duration: 0s, 0s, 0s, 0s, 0s, 0.7s;
  -o-transition-duration: 0s, 0s, 0s, 0s, 0s, 0.7s;
  -ms-transition-duration: 0s, 0s, 0s, 0s, 0s, 0.7s;
  transition-duration: 0s, 0s, 0s, 0s, 0s, 0.7s;
  -webkit-transition-timing-function: ease-in, linear, ease-out, ease-out, ease-out, ease;
  -moz-transition-timing-function: ease-in, linear, ease-out, ease-out, ease-out, ease;
  -o-transition-timing-function: ease-in, linear, ease-out, ease-out, ease-out, ease;
  -ms-transition-timing-function: ease-in, linear, ease-out, ease-out, ease-out, ease;
  transition-timing-function: ease-in, linear, ease-out, ease-out, ease-out, ease;
  -webkit-transition-delay: 1.2s, 1.2s, 1.2s, 1.2s, 1.2s, 0.5s;
  -moz-transition-delay: 1.2s, 1.2s, 1.2s, 1.2s, 1.2s, 0.5s;
  -o-transition-delay: 1.2s, 1.2s, 1.2s, 1.2s, 1.2s, 0.5s;
  -ms-transition-delay: 1.2s, 1.2s, 1.2s, 1.2s, 1.2s, 0.5s;
  transition-delay: 1.2s, 1.2s, 1.2s, 1.2s, 1.2s, 0.5s;
}
.nav-header__logo {
  position: relative;
  left: -100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.414rem;
  line-height: 4.5rem;
  height: 4.5rem;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px #000;
  -webkit-transition-property: opacity, left;
  -moz-transition-property: opacity, left;
  -o-transition-property: opacity, left;
  -ms-transition-property: opacity, left;
  transition-property: opacity, left;
  -webkit-transition-duration: 0.3s, 0s;
  -moz-transition-duration: 0.3s, 0s;
  -o-transition-duration: 0.3s, 0s;
  -ms-transition-duration: 0.3s, 0s;
  transition-duration: 0.3s, 0s;
  -webkit-transition-timing-function: ease-out, ease-out;
  -moz-transition-timing-function: ease-out, ease-out;
  -o-transition-timing-function: ease-out, ease-out;
  -ms-transition-timing-function: ease-out, ease-out;
  transition-timing-function: ease-out, ease-out;
  -webkit-transition-delay: 0s, 0.3s;
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  -ms-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.nav-header__logo span {
  color: #fff;
  text-shadow: 0 0 0.1em currentColor;
}
.nav-header__logo svg {
  height: 2.25rem;
  width: 2.25rem;
  margin-top: -0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.js-nav-open .nav-header__logo {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  left: 0;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  -ms-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
@media only screen and (min-width: 50em) {
  .nav-header--mobile {
    display: none;
  }
  .nav-header--desktop {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  .nav-header .nav-header__logo {
    -webkit-transition-duration: 0.5s, 0s;
    -moz-transition-duration: 0.5s, 0s;
    -o-transition-duration: 0.5s, 0s;
    -ms-transition-duration: 0.5s, 0s;
    transition-duration: 0.5s, 0s;
    -webkit-transition-delay: 0s, 0.5s;
    -moz-transition-delay: 0s, 0.5s;
    -o-transition-delay: 0s, 0.5s;
    -ms-transition-delay: 0s, 0.5s;
    transition-delay: 0s, 0.5s;
  }
  .nav-header.nav-header--stuck .nav-header__bg {
    top: 0;
    right: 0;
    background-color: rgba(0,11,25,0.8);
    border-color: rgba(229,241,255,0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition-duration: 0.5s, 0s, 0.5s, 0.5s, 0.5s, 0s;
    -moz-transition-duration: 0.5s, 0s, 0.5s, 0.5s, 0.5s, 0s;
    -o-transition-duration: 0.5s, 0s, 0.5s, 0.5s, 0.5s, 0s;
    -ms-transition-duration: 0.5s, 0s, 0.5s, 0.5s, 0.5s, 0s;
    transition-duration: 0.5s, 0s, 0.5s, 0.5s, 0.5s, 0s;
    -webkit-transition-delay: 0s, 0.5s, 0.5s, 0.5s, 0.5s, 0s;
    -moz-transition-delay: 0s, 0.5s, 0.5s, 0.5s, 0.5s, 0s;
    -o-transition-delay: 0s, 0.5s, 0.5s, 0.5s, 0.5s, 0s;
    -ms-transition-delay: 0s, 0.5s, 0.5s, 0.5s, 0.5s, 0s;
    transition-delay: 0s, 0.5s, 0.5s, 0.5s, 0.5s, 0s;
  }
  .nav-header.nav-header--stuck .nav-header__logo {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    left: 0;
    -webkit-transition-duration: 1s, 0s;
    -moz-transition-duration: 1s, 0s;
    -o-transition-duration: 1s, 0s;
    -ms-transition-duration: 1s, 0s;
    transition-duration: 1s, 0s;
    -webkit-transition-delay: 1s, 0s;
    -moz-transition-delay: 1s, 0s;
    -o-transition-delay: 1s, 0s;
    -ms-transition-delay: 1s, 0s;
    transition-delay: 1s, 0s;
  }
}
.nav-header__links {
  padding-left: 0;
  margin: 0;
  display: none;
}
@media only screen and (min-width: 50em) {
  .nav-header__links {
    display: block;
  }
}
.nav-header__links li {
  display: inline-block;
  text-transform: lowercase;
  letter-spacing: 0.2em;
}
.nav-header__links a {
  position: relative;
  display: inline-block;
  border: 0;
  font-weight: 400;
  color: #fff;
  margin-right: 1.5rem;
}
.nav-header__links a:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 3px;
  height: 3px;
  background-color: rgba(159,188,223,0.7);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-property: left, right;
  -moz-transition-property: left, right;
  -o-transition-property: left, right;
  -ms-transition-property: left, right;
  transition-property: left, right;
}
.nav-header__links a:hover:after,
.nav-header__links a:focus:after {
  left: 0;
  right: 0;
}
.nav-header__links li:last-child a:after {
  background-color: rgba(255,0,242,0.7);
}
.nav-header__menu-button {
  position: absolute;
  right: 0;
  display: inline-block;
  line-height: calc(3.75rem - 2px);
  height: calc(3.75rem - 2px);
  width: calc(3.75rem - 2px);
  margin: 0.375rem;
  border: 2px solid rgba(229,241,255,0.1);
  border-radius: 50%;
  background-color: #084692;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-transform: uppercase;
  text-align: center;
  -webkit-transition-property: -webkit-transform, background-color;
  -moz-transition-property: -moz-transform, background-color;
  -o-transition-property: -o-transform, background-color;
  -ms-transition-property: -ms-transform, background-color;
  transition-property: transform, background-color;
  -webkit-transition-duration: 0.3s, 0.4s;
  -moz-transition-duration: 0.3s, 0.4s;
  -o-transition-duration: 0.3s, 0.4s;
  -ms-transition-duration: 0.3s, 0.4s;
  transition-duration: 0.3s, 0.4s;
  -webkit-transition-timing-function: ease-out, ease-out;
  -moz-transition-timing-function: ease-out, ease-out;
  -o-transition-timing-function: ease-out, ease-out;
  -ms-transition-timing-function: ease-out, ease-out;
  transition-timing-function: ease-out, ease-out;
  cursor: pointer;
}
@media only screen and (min-width: 50em) {
  .nav-header__menu-button {
    display: none;
  }
}
.nav-header__menu-button:hover,
.nav-header__menu-button:focus {
  background-color: #0b6ce1;
}
.nav-header__menu-button:before,
.nav-header__menu-button:after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  background-color: #fff;
  width: 0.7em;
  margin-left: -0.3em;
  border-radius: 2px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition-property: opacity, top, bottom;
  -moz-transition-property: opacity, top, bottom;
  -o-transition-property: opacity, top, bottom;
  -ms-transition-property: opacity, top, bottom;
  transition-property: opacity, top, bottom;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-header__menu-button:before {
  top: 50%;
  height: 1em;
}
.nav-header__menu-button:after {
  bottom: 50%;
  height: 0.75em;
}
.js-nav-open .nav-header__menu-button {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.js-nav-open .nav-header__menu-button:before,
.js-nav-open .nav-header__menu-button:after {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.js-nav-open .nav-header__menu-button:before {
  top: 10%;
}
.js-nav-open .nav-header__menu-button:after {
  bottom: 10%;
}
.mobile-nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 100%;
  width: 150%;
  bottom: 0;
  padding-top: 4.5rem;
  background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,0.9));
  background: -moz-linear-gradient(left, transparent, rgba(0,0,0,0.9));
  background: -o-linear-gradient(left, transparent, rgba(0,0,0,0.9));
  background: -ms-linear-gradient(left, transparent, rgba(0,0,0,0.9));
  background: linear-gradient(to right, transparent, rgba(0,0,0,0.9));
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  -ms-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
@media only screen and (min-width: 50em) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav ul {
  position: relative;
  margin-top: 0;
  padding-left: 0;
}
.mobile-nav li {
  position: relative;
  display: block;
  left: 100%;
  text-align: right;
  font-size: 1.414rem;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  margin-top: 1.5rem;
  text-shadow: 0 0 2px #000;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  -ms-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}
.mobile-nav li a {
  position: relative;
  display: inline-block;
  border: 0;
  font-weight: 400;
  color: #fff;
  margin-right: 0.75rem;
}
.mobile-nav li a:after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  right: 0;
  margin-top: 3px;
  height: 3px;
  background-color: rgba(159,188,223,0.7);
  -webkit-transition: left 0.4s ease-out;
  -moz-transition: left 0.4s ease-out;
  -o-transition: left 0.4s ease-out;
  -ms-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}
.mobile-nav li a:hover:after,
.mobile-nav li a:focus:after {
  left: 0;
}
.mobile-nav li:last-child a:after {
  background-color: rgba(255,0,242,0.7);
}
.js-nav-open .mobile-nav {
  left: -50%;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.js-nav-open .mobile-nav li {
  left: 0;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.js-nav-open .mobile-nav li:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.js-nav-open .mobile-nav li:nth-of-type(3) {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.js-nav-open .mobile-nav li:nth-of-type(4) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.js-nav-open .mobile-nav li:nth-of-type(5) {
  -webkit-transition-delay: 0.55s;
  -moz-transition-delay: 0.55s;
  -o-transition-delay: 0.55s;
  -ms-transition-delay: 0.55s;
  transition-delay: 0.55s;
}
.js-nav-open {
  overflow: hidden;
}
.portfolio {
  background-color: #000b19;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-top: 1px solid rgba(229,241,255,0.1);
}
.portfolio .panel__content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.portfolio__inner {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.portfolio__pane {
  width: 100%;
  padding: 4.5rem 1.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: -webkit-linear-gradient(#000b19, #2c3e53);
  background-image: -moz-linear-gradient(#000b19, #2c3e53);
  background-image: -o-linear-gradient(#000b19, #2c3e53);
  background-image: -ms-linear-gradient(#000b19, #2c3e53);
  background-image: linear-gradient(#000b19, #2c3e53);
}
.portfolio h3 {
  text-align: center;
}
.portfolio__tags {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.707rem;
  line-height: 0.75rem;
}
.portfolio__tags span {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.6em 0.2em 1.5em;
  color: #9fbcdf;
  background-color: rgba(229,241,255,0.1);
  border: 1px solid rgba(229,241,255,0.1);
  text-transform: uppercase;
  border-radius: 1em 0.5em 0.5em 1em;
  margin: 0.25em;
}
.portfolio__tags span:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  margin-right: 0.5em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 1px solid rgba(159,188,223,0.5);
  background-color: #1d2c3f;
}
.portfolio p {
  max-width: 45em;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.portfolio__preview {
  max-width: calc(65em + 2px);
  padding: 0.5em;
  background-color: rgba(229,241,255,0.1);
  background-image: -webkit-linear-gradient(330deg, transparent 0%, rgba(255,255,255,0.05) 50%, transparent 50%, transparent 100%);
  background-image: -moz-linear-gradient(330deg, transparent 0%, rgba(255,255,255,0.05) 50%, transparent 50%, transparent 100%);
  background-image: -o-linear-gradient(330deg, transparent 0%, rgba(255,255,255,0.05) 50%, transparent 50%, transparent 100%);
  background-image: -ms-linear-gradient(330deg, transparent 0%, rgba(255,255,255,0.05) 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(120deg, transparent 0%, rgba(255,255,255,0.05) 50%, transparent 50%, transparent 100%);
  border: 1px solid rgba(229,241,255,0.1);
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 0 10em rgba(229,241,255,0.1);
  box-shadow: 0 0 10em rgba(229,241,255,0.1);
}
.portfolio__image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
}
.social {
  text-align: center;
  width: 100%;
  padding: 0;
}
.social li {
  display: inline-block;
}
.social a {
  position: relative;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  height: 3em;
  width: 3em;
  text-align: center;
  background-color: #000b19;
  background-image: url("/assets/pattern-stars.png");
  background-position: center center;
  -webkit-background-size: 1000% 1000%;
  -moz-background-size: 1000% 1000%;
  background-size: 1000% 1000%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 0px 1px rgba(229,241,255,0.1);
  box-shadow: 0 1px 0px 1px rgba(229,241,255,0.1);
  text-align: center;
}
.social svg {
  bottom: 1em;
  height: 0.9em;
  -webkit-animation: sprite-bounce 4s steps(2) infinite;
  -moz-animation: sprite-bounce 4s steps(2) infinite;
  -o-animation: sprite-bounce 4s steps(2) infinite;
  -ms-animation: sprite-bounce 4s steps(2) infinite;
  animation: sprite-bounce 4s steps(2) infinite;
}
.social svg path {
  fill: #ff00f2;
  -webkit-transition: fill 0.4s ease;
  -moz-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  -ms-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}
.social a:hover svg path,
.social a:focus svg path {
  fill: #ff80f9;
}
@-moz-keyframes sprite-bounce {
  0%, 100% {
    margin-top: -0.1em;
  }
  50% {
    margin-top: 0.1em;
  }
}
@-webkit-keyframes sprite-bounce {
  0%, 100% {
    margin-top: -0.1em;
  }
  50% {
    margin-top: 0.1em;
  }
}
@-o-keyframes sprite-bounce {
  0%, 100% {
    margin-top: -0.1em;
  }
  50% {
    margin-top: 0.1em;
  }
}
@keyframes sprite-bounce {
  0%, 100% {
    margin-top: -0.1em;
  }
  50% {
    margin-top: 0.1em;
  }
}
.form--space {
  position: relative;
  background-color: #000b19;
  background-image: url("/assets/pattern-stars.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 1px rgba(229,241,255,0.1);
  box-shadow: 0 1px 0px 1px rgba(229,241,255,0.1);
}
.form--space label {
  text-shadow: 0 0 0.1em currentColor;
}
.form--space .form__footer {
  position: relative;
}
.form--space .form__footer button {
  position: relative;
  z-index: 5;
}
.form--space .form__footer:before,
.form--space .form__footer:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.1em;
  background-image: -webkit-linear-gradient(left, rgba(255,0,242,0.5) 0%, rgba(255,0,242,0.5) 49%, #ff00f2 50%, rgba(255,0,242,0.5) 51%, rgba(255,0,242,0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(255,0,242,0.5) 0%, rgba(255,0,242,0.5) 49%, #ff00f2 50%, rgba(255,0,242,0.5) 51%, rgba(255,0,242,0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(255,0,242,0.5) 0%, rgba(255,0,242,0.5) 49%, #ff00f2 50%, rgba(255,0,242,0.5) 51%, rgba(255,0,242,0.5) 100%);
  background-image: -ms-linear-gradient(left, rgba(255,0,242,0.5) 0%, rgba(255,0,242,0.5) 49%, #ff00f2 50%, rgba(255,0,242,0.5) 51%, rgba(255,0,242,0.5) 100%);
  background-image: linear-gradient(to right, rgba(255,0,242,0.5) 0%, rgba(255,0,242,0.5) 49%, #ff00f2 50%, rgba(255,0,242,0.5) 51%, rgba(255,0,242,0.5) 100%);
  background-position: 0% 0%;
  -webkit-background-size: 800% auto;
  -moz-background-size: 800% auto;
  background-size: 800% auto;
  -webkit-box-shadow: 0 0 1em #ff00f2;
  box-shadow: 0 0 1em #ff00f2;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.form--space .form__footer:before {
  top: 33%;
  -webkit-animation-name: purple-feed;
  -moz-animation-name: purple-feed;
  -o-animation-name: purple-feed;
  -ms-animation-name: purple-feed;
  animation-name: purple-feed;
}
.form--space .form__footer:after {
  bottom: 33%;
  -webkit-animation-name: purple-feed-reverse;
  -moz-animation-name: purple-feed-reverse;
  -o-animation-name: purple-feed-reverse;
  -ms-animation-name: purple-feed-reverse;
  animation-name: purple-feed-reverse;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}
@-moz-keyframes purple-feed {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes purple-feed {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}
@-o-keyframes purple-feed {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}
@keyframes purple-feed {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}
@-moz-keyframes purple-feed-reverse {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
@-webkit-keyframes purple-feed-reverse {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
@-o-keyframes purple-feed-reverse {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
@keyframes purple-feed-reverse {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
.work-icon {
  display: block;
  fill: #9fbcdf;
  width: 3em;
  height: 3em;
  margin-top: 3rem;
}
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.nowrap {
  white-space: nowrap;
}
.centered {
  text-align: center;
}
.full-width {
  width: 100%;
}
.mtz {
  margin-top: 0rem !important;
}
.mlz {
  margin-left: 0rem !important;
}
.mrz {
  margin-right: 0rem !important;
}
.mbz {
  margin-bottom: 0rem !important;
}
.mz {
  margin: 0rem !important;
}
.mtxs {
  margin-top: 0.375rem !important;
}
.mlxs {
  margin-left: 0.375rem !important;
}
.mrxs {
  margin-right: 0.375rem !important;
}
.mbxs {
  margin-bottom: 0.375rem !important;
}
.mxs {
  margin: 0.375rem !important;
}
.mts {
  margin-top: 0.75rem !important;
}
.mls {
  margin-left: 0.75rem !important;
}
.mrs {
  margin-right: 0.75rem !important;
}
.mbs {
  margin-bottom: 0.75rem !important;
}
.ms {
  margin: 0.75rem !important;
}
.mtm {
  margin-top: 1.5rem !important;
}
.mlm {
  margin-left: 1.5rem !important;
}
.mrm {
  margin-right: 1.5rem !important;
}
.mbm {
  margin-bottom: 1.5rem !important;
}
.mm {
  margin: 1.5rem !important;
}
.mtl {
  margin-top: 3rem !important;
}
.mll {
  margin-left: 3rem !important;
}
.mrl {
  margin-right: 3rem !important;
}
.mbl {
  margin-bottom: 3rem !important;
}
.ml {
  margin: 3rem !important;
}
.ptz {
  padding-top: 0rem !important;
}
.plz {
  padding-left: 0rem !important;
}
.prz {
  padding-right: 0rem !important;
}
.pbz {
  padding-bottom: 0rem !important;
}
.pz {
  padding: 0rem !important;
}
.ptxs {
  padding-top: 0.375rem !important;
}
.plxs {
  padding-left: 0.375rem !important;
}
.prxs {
  padding-right: 0.375rem !important;
}
.pbxs {
  padding-bottom: 0.375rem !important;
}
.pxs {
  padding: 0.375rem !important;
}
.pts {
  padding-top: 0.75rem !important;
}
.pls {
  padding-left: 0.75rem !important;
}
.prs {
  padding-right: 0.75rem !important;
}
.pbs {
  padding-bottom: 0.75rem !important;
}
.ps {
  padding: 0.75rem !important;
}
.ptm {
  padding-top: 1.5rem !important;
}
.plm {
  padding-left: 1.5rem !important;
}
.prm {
  padding-right: 1.5rem !important;
}
.pbm {
  padding-bottom: 1.5rem !important;
}
.pm {
  padding: 1.5rem !important;
}
.ptl {
  padding-top: 3rem !important;
}
.pll {
  padding-left: 3rem !important;
}
.prl {
  padding-right: 3rem !important;
}
.pbl {
  padding-bottom: 3rem !important;
}
.pl {
  padding: 3rem !important;
}
