$tile-size-p = 25vw
$tile-size-l = 15vw
.grid-name-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    font-family: $font-work-sans;
    &__tile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: fade-out(white, 90%);
        background-color: fade-out(black, 95%);
        border-radius: 5%;
        border: 0;
        pointer-events: none;
    }
}
+portrait() {
    .grid-name {
        width: $tile-size-p * 3.6;
        height: $tile-size-p * 4.8;
        &__tile {
            height: $tile-size-p;
            min-width: $tile-size-p;
            font-size: $tile-size-p;
        }
    }
}
+landscape() {
    .grid-name {
        max-width: $tile-size-l * 6.7;
        height: $tile-size-l * 2.3;
        &__tile {
            height: $tile-size-l;
            min-width: $tile-size-l;
            font-size: $tile-size-l;
        }
    }
}
