.hello {
    background-color: $color-bg-dark;
    background-image: url('/assets/daniel.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;
    h2.in-view:after {
        background-color: $color-bg-glass;
    }
}
