.hero {
    position: relative;
    color: white;
    text-align: center;
    padding: 0 $leading;
    max-height: 100vh;
    &__image {
        max-width: 30em;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    &__copy {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: $leading;
    }
    &__arrow {
        font-size: 1.5 * $font-scale * 1rem;
        margin-top: $leading;
        opacity: 0.3;
    }
    h1 {
        text-shadow: 0 0 20px black;
    }
    p {
        font-size: $font-scale * 1rem;
        color: $color-ice-light;
        text-shadow: 0 0 5px black;
        strong {
            color: white;
        }
        span {
            display: inline-block;
            margin: 0 1em;
        }
    }
}
