.hero {
    position: relative;
    overflow: hidden;
    background-color: fade-out($color-ice, 90%);
    background-image: url('/assets/pattern-stars.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .panel__content {
        position: relative;
        z-index: 5;
    }
    p {
        text-transform: lowercase;
        color: $color-bg-fade;
        letter-spacing: 0.4em;
    }
}

.moon {
    position: absolute;
    width: 50vh;
    height: 50vh;
    top: 25%;
    right: -33%;
    background-color: $color-bg-dark;
    border: 1px solid $color-bg-glass;
    box-shadow: 0 0 100em $color-bg-glass, 0 0 10em $color-bg-fade, 0 0 1em $color-bg-fade, inset 0 0 10em fade-out($color-bg-fade, 75%);
    border-radius: 50%;
}
