icebox() {
    padding: $leading;
    background-color: fade-out($color-ice-light, 70%);
    border: 2px solid $color-ice-light;
    border-radius: 3px;
    text-align: center;
    color: $color-ice-light;
    box-shadow: 0 2px 2px fade-out(black, 50%);
    a {
        color: $color-ice-light;
        &:hover,
        &:focus {
            color: white;
        }
    }
}
