.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 1px $leading 2 * $leading;
    &:nth-of-type(even) {
        background-color: #eee;
    }
    &__content {
        width: 100%;
        max-width: 1200px;
    }
    h2 {
        display: flex;
        align-items: baseline;
        margin-bottom: 2 * $leading;
        &:after {
            content: '';
            flex-grow: 1;
            height: 3px;
            position: relative;
            margin-left: $leading * 0.25;
            background-color: #ddd;
        }
    }
    &--narrow {
        .panel__content {
            max-width: 700px;
        }
    }
}
