.portfolio {
    &__pane {
        margin-top: $leading;
        border-top: 1px solid currentColor;
    }
    &__preview {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-top: $leading;
    }
}
