.portfolio {
    &__pane {
        margin-top: $leading;
        &:not(:first-of-type) {
            border-top: 1px solid #ddd;
        }
    }
    &__preview {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-top: $leading;
        border: 1px solid #eee;
    }
}
