.figure {
  margin: 2 * $leading 0;
  figcaption {
    font-size: 0.5 * $font-scale * 1rem;
    line-height: $leading;
  }
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 3em;
    background-color: $color-bg-separator;
  }
}
