.button,
button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid currentColor;
    border-radius: 3px;
    font-weight: 700;
    text-align: center;
    &--small {
        font-size: 0.5 * $font-scale * 1rem;
    }
}
