.form {
    width: 100%;
    &__control {
        margin-top: $leading;
    }
}

label {
    display: block;
    margin-bottom: 0.25 * $leading;
}

input[type='text'],
input[type='email'],
textarea {
    display: block;
    width: 100%;
    padding: 0.4em $leading * 0.5;
    font-family: $font-work-sans;
    font-size: inherit;
}
