.form {
    width: 100%;
    padding: 1px $leading $leading;
    fieldset {
        max-width: "calc(15em + %s)" % ($leading * 4);
        margin-left: auto;
        margin-right: auto;
    }
    &__control {
        margin-top: $leading;
    }
}

label {
    display: block;
    margin-bottom: 0.25 * $leading;
    text-transform: lowercase;
    color: $color-bg-fade;
}

input[type='text'],
input[type='email'],
textarea {
    display: block;
    width: 100%;
    padding: 0.4em $leading * 0.5;
    font-family: $ff;
    font-size: inherit;
    background-color: $color-bg-glass;
    color: white;
    border: 1px solid transparent;
    &:focus {
        border-color: $color-bg-fade;
    }
}
