// material design box shadow

material-shadow(level = 1, shadow-color = black) {
    if level is 1 {
        box-shadow: 0 1px 3px fade-out(shadow-color, 88%), 0 1px 2px fade-out(shadow-color, 76%);
    }
    if level is 2 {
        box-shadow: 0 3px 6px fade-out(shadow-color, 84%), 0 3px 6px fade-out(shadow-color, 77%);
    }
    if level is 3 {
        box-shadow: 0 10px 20px fade-out(shadow-color, 81%), 0 6px 6px fade-out(shadow-color, 77%);
    }
    if level is 4 {
        box-shadow: 0 14px 28px fade-out(shadow-color, 75%), 0 10px 10px fade-out(shadow-color, 78%);
    }
    if level is 5 {
        box-shadow: 0 19px 38px fade-out(shadow-color, 70%), 0 15px 12px fade-out(shadow-color, 78%);
    }
}
