.page {
    background-color: darken($color-ice, 70%);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/assets/pattern-ice.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        opacity: 0.3;
    }
    .hero {
        position: relative;
        color: white;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
        h1 {
            text-shadow: 0 0 2px fade-out(black, 50%);
        }
    }
    main {
        position: relative;
    }
    .lead {
        text-align: center;
        font-size: $font-scale * 1rem;
        color: fade-out($color-ice-fade, 50%);
        strong {
            color: $color-ice-fade;
        }
    }
}

main section {
    padding: 1px $leading * 2 $leading * 2;
    margin-bottom: $leading;
    &.opaque {
        background-color: white;
        box-shadow: 0 0 2px fade-out(black, 50%);
    }
    &.transparent {
        color: white;
        h2 {
            color: inherit;
            text-shadow: 0 0 2px fade-out(black, 50%);
        }
    }
}


.skills,
.tools {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.skills {
    flex-wrap: wrap;
}
.skills li {
    display: block;
    width: 100%;
    padding: $leading;
    margin: $leading * 0.5 0;
    background-color: fade-out($color-ice-light, 70%);
    border: 2px solid $color-ice-light;
    border-radius: 3px;
    text-align: center;
    color: $color-ice-light;
    box-shadow: 0 0 2px fade-out(black, 50%);
    +above(400px) {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    +above(640px) {
        width: 32%;
    }
}
.tools {
    align-items: center;
    max-width: 20em;
}
.tools li {
    display: block;
    max-width: 3em;
    &:not(:first-child) {
        margin-left: 1em;
    }
}

footer p {
    color: white;
    text-align: center;
    font-size: ($font-scale / 3) * 1rem;
    margin-top: 0;
}
