// base
html,
body {
    height: 100%;
    position: relative;
}
html {
    font-size: ($base-font-size / 16) * 100%;
    font-family: $ff;
    background-color: $color-bg-dark;
    background-image: url('/assets/pattern-hex.svg');
    color: white;
    +above($nav-breakpoint) {
        font-size: (20 / 16) * 100%;
    }
}

a,
a:hover {
    text-decoration: none;
}
a {
    color: $link-color;
    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}
