// base
html,
body {
    height: 100%;
}
html {
    font-size: ($base-font-size / 16) * 100%;
    font-family: $ff;
    background-color: $color-ice-dark;
    color: white;
    +above(48em) {
        font-size: (20 / 16) * 100%;
    }
}
body {
    position: relative;
}

a,
a:hover {
    text-decoration: none;
}
a {
    color: $link-color;
    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}
