// typography, powered by typebase.css
h1 {
  font-size: 3 * $font-scale * 1rem;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 2 * $font-scale * 1rem;
  line-height: 2 * $leading;
  margin-top: 2 * $leading;
  font-weight: 300;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 1 * $font-scale * 1rem;
  margin-top:  $leading;
  line-height:  $leading;
  color: $color-bg-fade;
  font-weight: 400;
}
p {
  margin-top: $leading;
  line-height: $leading;
}
p.small {
  font-size: 0.5 * $font-scale * 1rem;
}
ul,
ol {
  margin-top: $leading;
  li {
    line-height: $leading;
  }
  &.clean {
    list-style: none;
    padding-left: 0;
  }
}
h1, h2, h3, p, li {
  a {
    border-bottom: 1px solid currentColor;
    // font-weight: bold;
  }
}

hr {
  margin: 2 * $leading 0;
  border: 0;
  border-bottom: 2px solid $color-bg-separator;
  max-width: 10em;
}
